.wrapper {
	background-color: black;
}
.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 120px;
	background-color: rgba(0, 0, 0, .93);
	filter: blur(4px);
	left: 0;

	max-height: 0px;
	transition: max-height 1.2s ease;
}
.wrapper:after {
	bottom: 0px;
}
.wrapper-focus:before, .wrapper-focus:after {
	max-height: 120px;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
}
.akabane {
	position: absolute;
	height: 90%;
	right: 3%;
	z-index: 9999;
	width: 10%;
	/*min-width: 120px;*/
	opacity: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;

	transition: opacity 2s ease;
}
.wrapper-focus .akabane {
	opacity: 1;
}